.about {

  &__title {
    line-height: 1.11;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 986px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 80px;

    @media (max-width: 1024px) {
      gap: 60px;
    }

    &-item {
      text-align: left;

      &-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;

        @media (max-width: 1024px) {
          margin-bottom: 8px;
        }
      }

      &-text {
        font-weight: 400;
        line-height: 1.67;
      }
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-logo {
      width: 40%;

      @media (max-width: 1024px) {
          width: 30%;
      }
    }

    &-scene {
      @media (max-width: 1024px) {
          width: 80%;
      }
    }
  }
}
