.contact {
  background-color: $sectionbg;

  &__wrapper {
    display: flex;

    @media (max-width: 1200px) {
      justify-content: space-between;
    }

    @media (max-width: 990px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 743px;

    @media (max-width: 990px) {
      margin-bottom: 70px;
    }
  }

  &__card {
    width: 50%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $whitecolor;
    transition: $transition;
    border: 1px solid transparent;
    justify-content: center;

    &:hover {
      border: 1px solid $textcolor;
    }

    & a:hover {
      text-decoration: underline;
    }

    @media (max-width: 480px) {
      width: 100%;
    }

    &-img {
      width: 30px;
    }

    &-name {
      font-size: 19px;
      font-weight: 700;
      margin: 20px 0;

      @media (max-width: 1200px) {
        font-size: 17px;
        margin: 15px 0;
      }
    }

    .list__item {
      margin-bottom: 15px;
      font-size: 17px;
      line-height: 1.21;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @media (max-width: 1200px) {
        font-size: 15px;
      }

      &-link {
        color: $textcolor;
      }
    }

    &-top,
    &-bottom {
      display: flex;
      justify-content: space-between;
      gap: 17px;
      max-width: 743px;
      width: 100%;

      @media (max-width: 480px) {
        flex-direction: column;
      }
    }

    &-top {
      margin-bottom: 17px;
    }
  }

  &__form {
    max-width: 743px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 17px;
    line-height: 1.21;
    font-weight: 300;

    @media (max-width: 1200px) {
      margin-left: 30px;
      font-size: 15px;
    }

    @media (max-width: 990px) {
      margin-left: 0;
    }

    &-input,
    &-textarea {
      border: none;
      padding: 32px 36px;
      border: 1px solid transparent;
      transition: $transition;
      font-weight: 300;

      &::placeholder {
        color: $textcolor;
      }

      &:hover,
      &:active {
        border: 1px solid $textcolor;
      }
    }

    &-input {
      margin-bottom: 25px;
      padding: 15px 25px;
    }

    &-textarea {
      padding: 15px 25px;
      margin-bottom: 35px;
      resize: none;
      height: 238px;

      @media (max-width: 1200px) {
        height: 200px;
      }

      @media (max-width: 480px) {
        height: 150px;
      }
    }

    &-btn {
      width: 395px;
      margin: 0 auto;
      font-size: 17px;

      @media (max-width: 1200px) {
        font-size: 15px;
      }

      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }
}
