.hero {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }

  &__img {
    width: 50%;
    margin-right: 20px;

    @media (max-width: 1024px) {
      width: 35%;
    }

    @media (max-width: 768px) {
      width: 60%;
      margin: 0 0 35px 0;
    }

    @media (max-width: 480px) {
      width: 90%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &-laptop-image {
      @media (max-width: 1024px) {
        width: 60%;
      }

      @media (max-width: 768px) {
        width: 80%;
      }

      @media (max-width: 480px) {
        width: 90%;
      }
    }

    &-text {
      margin-top: 10px;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.4;
      text-align: center;
      color: #555A62;

      @media (max-width: 480px) {
        font-size: 24px;
      }
    }

    &-description {
      font-weight: 700;
      font-size: 30px;
      line-height: 1.4;
      text-align: left;
      color: #525A98;

      @media (max-width: 1024px) {
        text-align: center;
      }

      @media (max-width: 480px) {
        font-size: 22px;
      }
    }


    @media (max-width: 990px) {
      margin-left: 20px;
    }

    @media (max-width: 990px) {
      margin-left: 0;
    }
  }
}
