.pricing {
  background-color: #B0C4DE;

  &__cards {
    display: flex;
    justify-content: center;
    gap: 2vw;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }

  &__card {
    border: 1px solid #707070;
    background-color: $whitecolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    min-height: 450px;

    @media (max-width: 1024px) {
      width: 50%;
    }

    @media (max-width: 768px) {
      width: 100%;
      min-height: 450px;
    }

    @media (max-width: 425px) {
      width: 100%;
      min-height: 400px;
    }

    &-header {
      text-align: center;
      width: 100%;
    }

    .header__price {
      font-family: Poppins, sans-serif;
      font-size: 45px;
      line-height: 1.15;
      font-weight: 400;
      color: $titlecolor;
      margin-top: 24px;
      flex: 1;

      @media (max-width: 1200px) {
        font-size: 34px;
      }

      @media (max-width: 1024px) {
        font-size: 37px;
        margin-top: 20px;
      }

      @media (max-width: 425px) {
        font-size: 25px;
      }
    }

    .header__info {
      font-size: 19px;
      background-color: $accent;
      padding: 20px 6px;
      color: $whitecolor;

      @media (max-width: 1200px) {
        font-size: 15px;
      }

      @media (max-width: 1024px) {
        font-size: 19px;
      }

      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    .header__period {
      color: #aaaaaa;
      font-size: 19px;

      @media (max-width: 1200px) {
        font-size: 15px;
      }

      @media (max-width: 1024px) {
        font-size: 19px;
      }

      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      flex: 1;
      width: 100%;
      background-color: $sectionbg;
      padding: 20px;

      @media (max-width: 1200px) {
        margin-top: 25px;
      }

      .list__item {
        line-height: 1.2;
        font-size: 17px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        @media (max-width: 1200px) {
          font-size: 15px;
        }

        @media (max-width: 1024px) {
          font-size: 16px;
        }

        @media (max-width: 425px) {
          font-size: 15px;
        }

        .item__img {
          width: 20px;
          margin-right: 12px;
        }
      }
    }

    &-footer {
      flex-shrink: 0;
      background-color: $sectionbg;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 35px;

      .footer__btn {
        font-size: 15px;
        padding: 10px;
        width: 70%;
      }
    }
  }
}
